<main>
  <% if flash[:notice] %>
   <p id="notice">
    <%= flash[:notice] %>
   </p>
  <% end %>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <%= render 'list', user: @user, book: @book %>
      </div>
      <div class="col-md-8 offset-md-1">
       <table class="table">
        <h2>Book detail</h2>
        <tbody>
         <tr>
          <td><%= link_to (@userbook.user) do %><%= image_tag @userbook.user.get_profile_image(100,100) %><% end %>
          </td>
          <td><%= link_to (@userbook.user) do %><%= @userbook.user.name %><% end %>
          </td>
          <td><%= link_to book_path(@userbook.id) do %><%= @userbook.title %><% end %>
          </td>
          <td><%= @userbook.body %>
          </td>
          <td><% if @userbook.user == current_user %>
           <%= link_to "Edit", edit_book_path(@userbook), class: 'btn btn-success' %><% end %>
          </td>
          <td><% if @userbook.user == current_user %>
           <%= link_to "Destroy", book_path(@userbook), method: :delete, class: 'btn btn-danger' %><% end %>
          </td>
         </tr>
        </tbody>
       </table>
      </div>
    </div>
  </div>
</main>